DATABASE_URL=postgresql+asyncpg://USER@localhost:5432/itinerary_db
JWT_SECRET=

GOOGLE_GEMINI_API_KEY=
MAPBOX_ACCESS_TOKEN=
TICKETMASTER_API_KEY=
YELP_API_KEY=
AMADEUS_CLIENT_ID=
AMADEUS_CLIENT_SECRET=
